@charset "UTF-8";

/*Importação de font (google fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*variaveis*/
:root {

    --branco: #fff;
    --marrom: #a53e3e;
    --vermelho: #ff0000;
    --claro: #efe2d2;
    --castanho: #d6bbac;
    --escuro: #600;
}

/* CSS reset '(compatibilizar com todos navegadores*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*layout */
body {
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    /*1em = 100% (tamanho padrão)*/
    background-color: #efe2d2;
}

.container {
    margin: 0 auto;
    /*centralizar o bloco*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 1000;
    align-self: center;
    padding: 15px 10px;
    border: 2px solid var(--claro);
    border-radius: 26px;
    margin-top: 25px;
}
/* Fim do Layout <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/*Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/* cabeçalho*/
header {
    height: 80px;
}

#logo img {

    width: 80px;
    height: 70px;
    margin: 0px 0px 0px 0px;

}

#check {
    display: none;
}

/* efeito de deslizar o menu*/
/* se o check estiver "ticado", criar um estilo para ul*/

#check:checked~ul {
    right: 0px;

}

label {
    position: fixed;
    font-size: 3em;
    top: 5px;
    right: 15px;
    color: var(--marrom);
    /*0.5 = 50% de transparencia 0 a 1(100%) */

}

nav ul {
    height: 100vh;
    /* 100vh = 100% da altura da tela */
    background-color: rgba(165, 62, 62, 0.5);
    list-style: none;
    /*remover bullets*/
    width: 50%;
    position: fixed;
    top: 80px;
    right: -400px;
    transition: all 0.5s;
}

nav ul li {
    padding: 15px 20px;
    /* lados com numeros iguais apenas uma vez*/
    border-bottom: 1px solid var(--branco);
    text-align: right;
}

nav ul li a {
    color: var(--branco);
    text-decoration: none;
    /*remover o sublinhado*/
}



/* Banner*/
main {
    height: 30vh;
    background: url(img/banner1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

main h1,
h2 {
    color: var(--branco);
    text-shadow: #600 0.05em 0.05em 0.05em;
    /*sombra*/
}

main h1 {
    font-size: 2em;
}

main h2 {
    font-size: 1em;
}
/***********destaque*****/
#destaque {
    background-color: #a53e3e;
    background-size: cover;
    background-position: center;
    /*espaçamento interno para não encostar na borna da tela do dispositivo*/
    padding: 50px 15px;
}

/* Atenção !!! Organizando o container após o destaque o estilo é aplicado apenas ao container da seção de destaque*/
#destaque .container {
    flex-direction: column;
    align-items: center;
}

/*Para esconder a imagem usamos display: "none" no container da imagem | Para exibir novamente em telas maiores, 
usamos "display: block" */

/*#imagemDestaque {
    display: none;
}*/

#imagemDestaque img {
    width: 150px;
    height: 150px;
    /*arredondar uma imagem*/
    border-radius: 50%;
}

#textoDestaque {
    color: var(--branco);
}

#textoDestaque h2 {
    margin-bottom: 10px;
    
}

/* Atenção!!! Detalhe do sinal ">" ref.ao elemento imediato*/

#textoDestaque>p {
    font-size: 1em;
    margin-bottom: 20px; 
    
/*para deixar o texto colorido é só colocar "color: var ...." dentro do destaque p*/
}

.topicos {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.topicos img {
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
}
/******sobre*****/
/*O estilo abaixo será aplicado apenas aos container que está subordinado a section "sobre"*/

#sobre.container{
    flex-direction:column;
    
}

#sobre {
    padding: 30px 15px;

}

#sobre p{
    color: var(--marrom);
}

#sobre h2{
    color: var(--marrom);
    margin-bottom: 25px;
}

#sobre video {
    width: 560px;
    height: 315px;
}

/* Fim | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/


/*Smartphone landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px) {
 .container {
        max-width: 700px;
    }
    /*cabeçalho*/
    #logo img {
        width: 70px;
        height: 60px;
    }
   
    /* Banner*/
main {
    height: 60vh;
}

/************Destaque***********/
    #destaque .container {
    flex-direction: row;
    align-items: center;
}
     #imagemDestaque {
     margin-right: 50px;
}   
    #imagemDestaque img {
        width: 150px;
        height: 180px;
    }
    
}
/*** fim smart ladscape****/

/* Tablet Portait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

@media (min-width: 768px) {

    /*cabeçalho */
    .container {
        max-width: 720px;
        /*Tamanho max */
        /*background-color: #FFA500;*/
    }

    header {
        height: 80px;
        /*Altura*/
    }

    #logo img {
        width: 80px;
        height: 80px;
        margin: 10px 0px 0px -10px;
    }

    nav ul {
        top: 60px;
        width: 65%;
        right: -70%;

    }

    /*Ajuste do banner*/
    main h1 {
        font-size: 3em;
    }

    main h2 {
        font-size: 1.5em;
        margin-top: 15px;
    }
 /* Banner*/
main {
    height: 25vh; 
}
 /************Destaque***********/
    #imagemDestaque img {
        width: 225px;
        height: 250px;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Tablet landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px) {

    /*cabeçalho*/
    #logo img {
        width: 80px;
        height: 80px;
        margin: 10px 0px 0px -50px;
    }

    .container {
        max-width: 900px;

    }
/* Banner*/
main {
    height: 50vh;
}
  /******Destaque***********/
     #destaque {
        /* O código abaixo fixa o banner (efeito paralax)*/
        background-attachment: fixed;
    }
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Pcs / Notbooks >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:1200px) {
    .container {
        max-width: 1140px;

    }

    header {
        height: 500px;
    }

    #logo img {
        width: 90px;
        height: 90px;
        margin: 0px 0px 0px 0px;
    }


    /*transformaçã do menu*/
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /*remover a cor do background-color*/
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--branco)
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    /*Ajuste do banner*/
    main h1 {
        font-size: 4em;
    }

    /* Banner*/
    main {
        height: 50vh;
    }
   /****** Destaque ******/
   #destaque {
    /* O código abaixo fixa o banner (efeito parallax) */
    background-attachment: fixed;
    }

    
/*sobre*/
    #sobre.container{
    flex-direction: column;
    align-items: center;
    }

    #video iframe{
    margin-top: 0px;
    }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

/* Telas Fullhd / 4k / Smarttv>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container {
        max-width: 1360px;
    }

    header {
        height: 195px;
    }

    #logo img {
        width: 150px;
        height: 150px;
    }

    /*transformação do menu*/
    label {
        display: none;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /* remover a cor do background*/

    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #a53e3e;
    }

    nav ul li a:hover {
        color: #a53e3e;
    }
}